{% comment %}
  Footer Links Theme Block
  Used for footer link columns
{% endcomment %}

<div class="splash-footer-links" {{ block.shopify_attributes }}>
  {% if block.settings.heading != blank %}
    <h3 class="splash-footer-links__heading">{{ block.settings.heading }}</h3>
  {% endif %}

  <ul class="splash-footer-links__list">
    {% if block.settings.link_1_label != blank %}
      <li class="splash-footer-links__item">
        <a href="{{ block.settings.link_1_url | default: '#' }}" class="splash-footer-links__link">
          {{ block.settings.link_1_label }}
        </a>
      </li>
    {% endif %}
    {% if block.settings.link_2_label != blank %}
      <li class="splash-footer-links__item">
        <a href="{{ block.settings.link_2_url | default: '#' }}" class="splash-footer-links__link">
          {{ block.settings.link_2_label }}
        </a>
      </li>
    {% endif %}
    {% if block.settings.link_3_label != blank %}
      <li class="splash-footer-links__item">
        <a href="{{ block.settings.link_3_url | default: '#' }}" class="splash-footer-links__link">
          {{ block.settings.link_3_label }}
        </a>
      </li>
    {% endif %}
    {% if block.settings.link_4_label != blank %}
      <li class="splash-footer-links__item">
        <a href="{{ block.settings.link_4_url | default: '#' }}" class="splash-footer-links__link">
          {{ block.settings.link_4_label }}
        </a>
      </li>
    {% endif %}
    {% if block.settings.link_5_label != blank %}
      <li class="splash-footer-links__item">
        <a href="{{ block.settings.link_5_url | default: '#' }}" class="splash-footer-links__link">
          {{ block.settings.link_5_label }}
        </a>
      </li>
    {% endif %}
  </ul>
</div>

{% schema %}
{
  "name": "Footer Links Column",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Column Heading",
      "default": "Links"
    },
    {
      "type": "text",
      "id": "link_1_label",
      "label": "Link 1 Label"
    },
    {
      "type": "url",
      "id": "link_1_url",
      "label": "Link 1 URL"
    },
    {
      "type": "text",
      "id": "link_2_label",
      "label": "Link 2 Label"
    },
    {
      "type": "url",
      "id": "link_2_url",
      "label": "Link 2 URL"
    },
    {
      "type": "text",
      "id": "link_3_label",
      "label": "Link 3 Label"
    },
    {
      "type": "url",
      "id": "link_3_url",
      "label": "Link 3 URL"
    },
    {
      "type": "text",
      "id": "link_4_label",
      "label": "Link 4 Label"
    },
    {
      "type": "url",
      "id": "link_4_url",
      "label": "Link 4 URL"
    },
    {
      "type": "text",
      "id": "link_5_label",
      "label": "Link 5 Label"
    },
    {
      "type": "url",
      "id": "link_5_url",
      "label": "Link 5 URL"
    }
  ]
}
{% endschema %}